@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{

    
    background-color: #F9F9F9;
}

.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: auto;
   
}

h1{

}

.paymentSource{
height: auto;
width: 20em;
margin: 2em;
padding: 20px;
display: flex;
justify-content: space-between;
}

.btcPayment{
    background-color: #EEF1FF;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #C4D7E0;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btcPayment:hover{
    transform: scale(1.1,1.1);
    transition: all;
    transition-delay: 24ms;
}



.ethPayment{
    background-color: #EEF1FF;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #C4D7E0;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ethPayment:hover{
    transform: scale(1.1,1.1);
    transition: all;
    transition-delay: 24ms;
}

.btcCashPayment{
    background-color: #EEF1FF;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #C4D7E0;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btcCashPayment:hover{
    transform: scale(1.1,1.1);
    transition: all;
    transition-delay: 24ms;
}

.paymentDetails{
    background-color: #C4D7E0;
    margin: auto;
    padding: 2em;

}
.headerTxt{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btcQrCode{

}
.ethQrCode{

}
.btcCqrCode{
    
}
.addressKey{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #F9F9F9;
    width: 35em;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
input#btcAddress{
    width: 30em;
    font-size: 21px;
    padding: 10px;
    outline: none;
    border: none;
    background: none;
}
.copyButton{
    margin-top: 2px;
}
.paymentWaiting{
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    all: unset;
    cursor: pointer;
  }

